# ===== MindCash — Variáveis de Ambiente =====

# Banco de dados
DB_USER=mindcash
DB_PASS=mindcash_secret
DB_NAME=mindcash
DB_PORT=5432

# Aplicação
APP_PORT=8080

# PgAdmin (opcional)
PGADMIN_EMAIL=admin@mindcash.local
PGADMIN_PASSWORD=admin123
